{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %} {% block extra_css %}
{% load l10n %}
{% load i18n %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    /* .myform>* {
        margin: 30px 0;
    } */
    
    .form-row {
        margin: 50px;
    }
    
    .myform {
        margin-top: 150px;
    }
</style>
{% endblock %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>

    {% endfor %}
</ul>

{% endif %} 
<div class="container mb-7 text-center" style="margin-top: 100px;">
    <h1 class='text-center mt-5'>{% trans "Waste Collection Details" %}</h1>
    <hr>
    <div id = "formdiv">
        <form method="POST" id = "regionForm" data-url="{% url 'ajax_load_buildings' %}"  class="form-group" style="text-align:left;">
        <!-- <form method="POST" id = "WSForm" data-url=""  class="form-group" style="text-align:left;"></form> -->
            {% csrf_token %}
            <table style="margin-right: 10px";>{{ form.as_table }} </table> 
            <br>
        <centre><button type="submit" style="align-items: center;" class="btn btn-primary">{% trans "Submit" %}</button></centre>
        
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
      let ward, prabhag,sac;
            $("#id_ward").change(function() {
            var $endpoint = window.location.href // or localhost/interface
            ward = $(this).val();
            $('#id_prabhag')
                .find('option')
                .remove()
                .end()
                $('#id_prabhag')
                
                .append($("<option></option>")
                            .attr("value", "Select One")
                            .text("Select One")); 
                $ward= {
                        
                        'ward': ward}

                    $.ajax({
                            method: "GET",
                            url: $endpoint,
                            data: $ward,
                            success:function(data) {
                                $.each(data, function(key, value) {   
                                    console.log(key,value)
                $('#id_prabhag').append($("<option></option>")
                                    .attr("value", value.prabhag_no)
                                    .text(value.prabhag_no)); 
                });
                        }
                });
        })
        $("#id_prabhag").change(function() {
            var $endpoint = window.location.href // or localhost/interface
            var prabhag = $(this).val();
            var x = document.getElementById('id_road_name');
            x.setAttribute("list", "browsers");

        var y = document.createElement("DATALIST");
        y.setAttribute("id", "browsers");
        document.getElementById("id_road_name").appendChild(y);

        

            $('#id_road_name')
                .find('option')
                .remove()
                .end()
                $('#id_road_name')
                
                .append($("<option></option>")
                            .attr("value", "Select One")
                            .text("Select One")); 
                $prabhag= {
                        
                        'prabhag': prabhag}
                    $.ajax({
                            method: "GET",
                            url: $endpoint,
                            data: $prabhag,
                            success:function(data) {
                                console.log(data)
                                sac = data.sac_list;
                                $.each(data.prabhag_list, function(key, value) {   
                                    var z = document.createElement("OPTION");
        z.setAttribute("value", value.road_name);
        document.getElementById("browsers").appendChild(z);
            
                });
                        }
                });
        })
        // $("#id_road_name").change(function() {
            console.log($("#id_road_name").val())
            document.getElementById("id_road_name").addEventListener('change', doThing);
            function doThing(){
            var selectedValue = $("#id_road_name").val();


            var $endpoint = window.location.href // or localhost/interface
            console.log(selectedValue)
            var x = document.getElementById('id_building_name');
            x.setAttribute("list", "browsers1");

        var y = document.createElement("DATALIST");
        y.setAttribute("id", "browsers1");
        document.getElementById("id_building_name").appendChild(y);

        

            $('#id_building_name')
                .find('option')
                .remove()
                .end()
                $('#id_building_name')
                
                .append($("<option></option>")
                            .attr("value", "Select One")
                            .text("Select One")); 
                $road= {'road': selectedValue,'pra':prabhag}
                    $.ajax({
                            method: "GET",
                            url: $endpoint,
                            data: {'road': selectedValue},
                            success:function(data) {
                                console.log(data)
                                $.each(data, function(key, value) {   
                                    var z = document.createElement("OPTION");
        z.setAttribute("value", value.building_name);
        document.getElementById("browsers1").appendChild(z);
            
                });
                        }
                });
        // })
        var sac_no = document.getElementById('id_sac_no');
        sac_no.setAttribute("list", "browsers2");

        var data_sac_list = document.createElement("DATALIST");
        data_sac_list.setAttribute("id", "browsers2");
        document.getElementById("id_sac_no").appendChild(data_sac_list);
        $.each(sac, function(key, value) {   
                                    var opt_sac = document.createElement("OPTION");
                                    opt_sac.setAttribute("value", value.sac_number);
        document.getElementById("browsers2").appendChild(opt_sac);
            
                });
            }
  </script>


    </div>
</div>

{% endblock %}