{% extends 'base.html' %}
{% load static %}{% load i18n %}

{% block extra_css%}
<style>
  body {
  /* position: fixed; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  height: 100vh;
  /* overflow: hidden; */
 
}

.leaflet-tooltip.my-labels {
background-color: transparent;
border: transparent;
box-shadow: none;
font-size: 12px;
}

.leaflet-tooltip.my-labels-ward {
background-color: transparent;
border: transparent;
box-shadow: none;
font-size: 12px;
}


.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}



</style>
{% endblock %} 

{% block content %}

{% if messages %}
<div>
<ul class="messages">
    {% for message in messages %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
    </div>

    {% endfor %}
</ul>
</div>
{% endif %}

<div class="container-fluid">
  <div class="information">
    <div class="text-center h1 m-2">Zero Waste - Mumbai</div>
    <div class="text-center h5 m-3">
      Zero Waste is a concept where waste is completely utilized by reusing or recycling. Only minimal quantity is transported to the dumping ground. This ensures a cyclical process of resources and leaves behind only minimal quantity of residual waste.
    </div>
  </div>
  <div class="dropdown text-center mb-2">

    <select  onclick="redirectDashboardDropdown()"name="ward" id="ward">
      <option>Select Prabhag</option>
      <option value="61">Prabhag - 61</option>
    </select>



  </div>

</div>
<div id="map" style="width: 100%; height: 70vh;"></div>

{% endblock %}

{% block extra_javascript %} 

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.EasyButton/2.4.0/easy-button.min.css" integrity="sha512-Dl8Sq3zeaW4/XeowsD/0Fyn07Cy+1yJlG4/Bs8Lt91P2gZGB3lemVScG8dsNi2pIwhDwuTR22RGumk72cd5OhA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.EasyButton/2.4.0/easy-button.min.js" integrity="sha512-Tndo4y/YJooD/mGXS9D6F1YyBcSyrWnnSWQ5Z9IcKt6bljicjyka9qcP99qMFbQ5+omfOtwwIapv1DjBCZcTJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet" href="{%static 'slick-loader/slick-loader.min.css' %}"/>
<script src="{%static 'slick-loader/slick-loader.min.js' %}" ></script>



<!-- <script  type="module" src="https://d3js.org/d3.v7.min.js"></script> -->
      

<!-- <script type="module">
    import { json,select,geoMercator,geoPath } from 'https://unpkg.com/d3?module';

    const width = document.body.clientWidth;
const height = document.body.clientHeight *.8;


// let svg = select('body').append('svg').attr('width', width).attr('height', height);
const svg = select('svg').attr('width', width).attr('height', height);

const g = svg.append('g');

const mercator = geoMercator().scale(100000).translate([width/2, height/2]).center([73.1,19.08]);

const pathGenerator = geoPath().projection(mercator);
// let url = 'https://geoserver2.communitygis.net/geoserver/geonode/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=geonode%3Acorporatorwardboundary_mumbai_1_0&outputFormat=json'
// let url = 'https://gis.communitygis.net/geoserver/ows?service=WFS&version=1.0.0&request=GetFeature&typename=geonode%3ACorporate_Ward_Boundaries_28Dec2021&outputFormat=json&srs=EPSG%3A4326&srsName=EPSG%3A4326'

let activatedWards = [61];
let render = features =>{

  const paths = g.selectAll('path').data(features)
  .enter().append('path').attr('class', 'wards').attr('d',pathGenerator).attr('stroke','white').attr('stroke-width','.5px')
  .attr('fill',d =>{
  	let wardNo = parseInt(d.properties.prabhag_no);
  	if(activatedWards.includes(wardNo)) return 'green';
    else return 'grey';
  })
  
  //on clicking the polygon in ward
  
  const clicked = (d,x) =>{ 
      let wardNo = parseInt(x.properties.prabhag_no);
      if(activatedWards.includes(wardNo))  window.open('google.com', '_blank');
	}
  paths.on('click',clicked)
  
  g.selectAll("text").data(features)
    .enter().append("text")
    .text(d => parseInt(d.properties.prabhag_no))
    .attr("x", function(d){
        return pathGenerator.centroid(d)[0];
    })
    .attr("y", function(d){
        return  pathGenerator.centroid(d)[1];
    })
    .attr("text-anchor","middle")
    .attr('font-size','4pt')
  	
    .attr("font-family", "sans-serif");
  
  
  
  
}

json('https://gis.communitygis.net/geoserver/ows?service=WFS&version=1.0.0&request=GetFeature&typename=geonode%3ACorporate_Ward_Boundaries_28Dec2021&outputFormat=json&srs=EPSG%3A4326&srsName=EPSG%3A4326').then(geojson =>{
  // console.log(geojson)
 render(geojson.features)
})

</script> -->

<script>
  let map = L.map('map',{ scrollWheelZoom: false }).setView([19.08,72.9], 11);
  let wardGeojson,prabhagGeojson;

  let tiles = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
      'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1
  }).addTo(map);


let activatedWards = [61];
let activatedStyle = {
    "fillColor": "lightgreen",
    "weight": 1,
    "opacity": 0.9,
    "color": 'white',
    "fillOpacity": 1
  }

let disabledStyle = {
  "fillColor": "grey",
  "weight": 1,
  "opacity": 0.9,
  "color": 'white',
  "fillOpacity": 0.5
}





            
let drilldownToPrabhag = e =>{
  let selectedWardID = e.sourceTarget.feature.properties.ward_id;
  console.log(selectedWardID)
  let selectedPrabhagFeatures = prabhagGeojson.features.filter(d =>(d.properties.Ward_Id == selectedWardID))
  let selectedPrabhag = {
  "type": "FeatureCollection",
  "features": selectedPrabhagFeatures
  }
  map.fitBounds([e.sourceTarget._bounds])
  map.removeLayer(addedLayer)
  info.update("Click on activated prabhag to view Dashboard");
  renderLayer(selectedPrabhag,myStyle,onEachFeature)
}
let onEachFeatureWard = (feature, layer) => {
    layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
        click: drilldownToPrabhag,
    });
    layer.bindTooltip("<div style = 'text-transform: capitalize'>"+feature.properties.ward_name_+"</div>",{permanent: true, direction: "center",className: "my-labels-ward"});

  }
//  function to fetch ward and prabhag geojson
let  fetchData = async() =>{
let wardURL = 'https://gis.communitygis.net/geoserver/ows?service=WFS&version=1.0.0&request=GetFeature&typename=geonode%3Amumbai_ward_boundary_2Jan2022&outputFormat=json&srs=EPSG%3A4326&srsName=EPSG%3A4326&access_token=8Rzwv2yElnLetOXVMJtkKerBjA9YlL'
let prabhagURL   = 'https://gis.communitygis.net/geoserver/ows?service=WFS&version=1.0.0&request=GetFeature&typename=geonode%3AMumbai_Prabhag_Boundaries_3Jan2022V2&outputFormat=json&srs=EPSG%3A4326&srsName=EPSG%3A4326&access_token=iWVlDtClk3ZiHKwlMh57X1BhzhsSse'

SlickLoader.enable();
SlickLoader.setText('Map Loading...');
  try{
    const [wardGeojson, prabhagGeojson] = await Promise.all([
    fetch(wardURL).then(response => response.json()),
    fetch(prabhagURL).then(response => response.json())
  ]);
      SlickLoader.disable();
    return [wardGeojson,prabhagGeojson]
  }catch(err){
    console.log(err)
  }
 
}


let renderLayer = (geojson,style,onEachFeature) =>{
  addedLayer = L.geoJSON(geojson,{style:style,onEachFeature:onEachFeature}).addTo(map);
}
fetchData().then(geojson => {
  [wardGeojson,prabhagGeojson]= geojson;
  renderLayer(wardGeojson,activatedStyle,onEachFeatureWard)
 
})
let onBackClick = (btn,map) => {
  map.setView([19.08,72.9], 11)
  map.removeLayer(addedLayer)
  info.update("Click on Wards in the Map for Drilldown");

  renderLayer(wardGeojson,activatedStyle,onEachFeatureWard)
} 
backButton = L.easyButton('<span class="backButton">&larrhk;</span>', onBackClick,{ position: 'topleft' });
map.addControl(backButton);



let addedLayer;
let myStyle = (feature) =>{ 
  let wardNo = parseInt(feature.properties.prabhag_no);
  if(activatedWards.includes(wardNo))  return activatedStyle;
  else return disabledStyle;
}


function highlightFeature(e) {
  var layer = e.target;

  layer.setStyle({
      weight: 5        
  });

}

function resetHighlight(e) {
  addedLayer.resetStyle(e.target);
}

function redirectDashboard(e) {
  let wardNo = parseInt(e.sourceTarget.feature.properties.prabhag_no)
  if(activatedWards.includes(wardNo))  window.open('/dashboard', '_blank');

}

function redirectDashboardDropdown() {
  wardNo = document.getElementById('ward').value;  
  window.open('/dashboard', '_blank');
}

function onEachFeature(feature, layer) {
    layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
        click: redirectDashboard,
    });
  
  layer.bindTooltip("<div style = 'text-transform: capitalize'>"+parseInt(feature.properties.prabhag_no)+"</div>",{permanent: true, direction: "center",className: "my-labels"});
   

}

var info = L.control({position: 'bottomleft'});

info.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
    this.update('Click on Wards in the Map for Drilldown');
    return this._div;
};

info.update = function (message) {
  console.log(message)
    this._div.innerHTML = message;
};


info.addTo(map);


</script>

{% endblock %}