{% extends 'base.html' %} {% load static%} {% block content %}
{% load i18n %}{% load crispy_forms_tags %}


<div class="container mb-5 text-center">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
    
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <!-- {{form.errors}} -->
            {{ form.comment.errors }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    
        {% endfor %}
    </ul>
    {% endif %}

    <form method="POST" action="" class="form-group" style="text-align:left;" data-url="{{ request.build_absolute_uri|safe }}">
        {% csrf_token %}


        <div>
            <label class="col-sm-1 col-form-label"></label>
            <div>
                <h3>{% trans "Human Resource Data" %}</h3>
            </div>
        </div>
        <hr>       
        <div class="container mb-7" style="margin-top: 10px;" id = "feedback_div">
            <table table style="margin-right: 10px";>{{ form.as_table}}</table> <br>
           
            <button type="submit" style="align-items: center;" class="btn btn-primary">Add Employee</button><br>
        </div>
    </form>
</div>
<script>
    // console.log("{{ data.zone_id_id }}")
</script>
{% endblock %}
{% block extra_javascript %}
<script>
    $(function() {
        var $docName = $('#id_ward').val();
        console.log($docName)
        
        $("#id_ward").on('change', function() {
            var val = $("#id_ward").val();

            var $name = {
                'name': $(this).val()
            }
            console.log("name is ",$name)
            var $endpoint = window.location.href // or localhost/interface
            $.ajax({
                type: "GET",
                //url: $endpoint,
                url: `{% url 'ajax_load_prabhag' %}`, 
                data:$name,
                //success: handleFormSuccess,
                success: function(response){
                    //console.log(`resp ${response.prabhag_n.forEach(e=>{console.log(e)})}`)
                    var strs = "<option value='"+"'>"+"----"+"</option>"
                    response.prabhag_n.forEach(e=>{
                        //strs = strs+"<option value='"+e.prabhag_no+"'>"+e.prabhag_no+"</option>";
                        console.log(e.prabhag_no)
                    })
                    response.prabhag_n.forEach(e=>{
                        strs = strs+"<option value='"+e.prabhag_no+"'>"+e.prabhag_no+"</option>";
                        //console.log(e.prabhag_no)
                    })
                    $('#id_prabhag').html(strs)
                },
                error: handleFormError,
            })
        })
       
    })

        function handleFormSuccess(data) {
            // console.log(data.district)
            // data = json.loads(data)
            console.log(data)
            console.log(data.prabhag_no)
            if(data.hasOwnProperty("prabhag_no"))
                console.log(data.prabhag_no)
            else    
                console.log("Nill")
            // hasOwnProperty
            // console.log("success is"+data.prabhag_no);
            // console.log("success is -"+feature.get('prabhag_no'));
            $("#id_prabhag").val(data.prabhag_no);
            // $("#id_first_attendants_name").val(data.attendant1);
            // $("#id_second_attendants_name").val(data.attendant2);
            // $("#id_supervisor_name").val(data.supervisor);
           
            // $("#id_pic").val(data.picture.url);
        }
        // function handleFormSuccess1(data) {
            
        //     console.log(data.picture);
                   
        //     // $("#id_picture").val(data.picture);
        //     // $("#id_picture").val(data.picture);
        //     icon_url = '{{ media_url}}' 
        //     console.log('"'+icon_url+data.picture+'"');
        //     // $('#id_picture').html('<img src='+icon_url+data.picture+ '" />');
        //     $('#testimg').empty();
        //     $('#testimg').attr('src',icon_url+data.picture);
            
        //      //$('#id_picture').html('Hi');
        //     //  $('#id_picture').
        //     // $("#id_picture").attr("src",data.picture);
        //     // $('#id_picture').show();
        // }

        function handleFormError(jqXHR, textStatus, errorThrown) {
            console.log(jqXHR)
            console.log(textStatus)
            console.log(errorThrown)
        }
    //     // function handleFormError1(jqXHR, textStatus, errorThrown) {
    //     //     console.log(jqXHR)
    //     //     console.log(textStatus)
    //     //     console.log(errorThrown)
    //     // }
    // })
</script>

{% endblock %}