{% extends 'base.html' %}
{% block content %} 
<style>
#div_id_Ward{
	display: none;
}
#div_id_prabhag{
	display: none;
}


</style>
{% load crispy_forms_tags %}         
{% if messages %}
<div>
<ul class="messages">
    {% for message in messages %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
    </div>

    {% endfor %}
</ul>
</div>
{% endif %}
<!--Register--> 
<div class="container py-5">
	<h3>Register</h3><hr>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}                    
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>
<script>
	$("#id_area").change(function() {
		var val = $(this).val();
		console.log(val)
		if(val == "Ward"){

			div_id_Ward.style.display = "block";
			div_id_prabhag.style.display = "none";
		
		}
		else if(val == "Prabhag"){

			div_id_Ward.style.display = "block";

			div_id_prabhag.style.display = "block";
		}

	})
	 $("#id_Ward").change(function() {
	 var $endpoint = window.location.href // or localhost/interface
	 var selectedValue = $(this).val();
	 $('#id_prabhag')
	 .find('option')
    .remove()
    .end()
	 $name= {
            
			'name': selectedValue}
 		 $.ajax({
                method: "GET",
                url: $endpoint,
                data: $name,
                success:function(data) {
					$.each(data, function(key, value) {   
						console.log(key,value)
     $('#id_prabhag')
	 
         .append($("<option></option>")
                    .attr("value", value.prabhag_no)
                    .text(value.prabhag_no)); 
});
				}
  		});
})
</script>
{% endblock %}