{% extends 'base.html' %}
{% load static %}
{% load l10n %}
{% load i18n %}

{% block content %} 
<div class="container mb-7" style="text-align: justify;">
    <br>
    <h3>{% trans "Resources" %}</h3>
    <hr>
    <br>
    <h4><ol>
        <li>
            <a href ="{% static 'resources/PWM-EPR_in_India.pdf'%}">PWM-Plastic Waste Management in India</a>
        </li>
        <li>
            <a href = 'https://saahaszerowaste.com/extended-producer-responsibility-2-2/extended-producer-responsibility-2/'>Extended Producer Responsibility</a>
        </li>
        <li>
            <a href = 'https://www.downtoearth.org.in/blog/waste/draft-plastic-waste-management-rules-2021-addressing-the-bigger-problem-75939'>Draft Plastic Waste Management Rules, 2021</a>
        </li>
        <li>
            <a href = 'https://www.thebetterindia.com/263419/maharashtra-startup-convert-kitchen-waste-to-biogas-buy-setup-features/amp/'>Startup Converts Your Kitchen Waste Into Electricity & Cuts LPG Needs By 1/4</a>
        </li>
        <li>
            <a href = 'https://www.bhaskar.com/db-original/news/punes-suraj-markets-bamboo-tooth-brushes-and-coffee-mugs-across-the-country-with-an-annual-turnover-of-1-million-129176068.html'>Bamboo toothbrush and Coffee mugs</a>
        </li>
        <li>
            <a href = 'https://www.thebetterindia.com/180745/bengaluru-woman-innovation-waste-segregation-minutes-recycling-india/'>23-YO Bengaluru Woman Invents Machine That Segregates Waste Within Minutes!</a>
        </li>
        <li>
            <a href = 'https://www.business-standard.com/article/current-affairs/what-india-must-do-to-implement-ban-on-single-use-plastics-effectively-121061700235_1.html'>India's ban on single-use plastics runs into challenges, pitches new rules </a>
        </li>
    </ol>
</h4>
{% endblock %}
