{% extends 'base.html' %} {% load static%} {% block content %}
{% load i18n %}


<style>
/*  */
.editbtn{
    background-color:darkslategrey;
    color: white;
    padding: 2px;
    margin: 5px;
}
button{
    /* background-color: red; */
    vertical-align:middle;
    color: white;
    padding: 5px;
    margin: 5px;
}
table {
  border: 1px solid black;
  table-layout: fixed;
  width: 1200px;
  border: solid 1px #DDD;
            color: #000;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
}

th,
td {
  border: 1px solid black;
  width: 135px;
  height: 100px;
  overflow: hidden;
  border: solid 1px #DDD;
            color: #000;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
}
Label{
    font-size: larger;
    color: darkblue;
    font-weight: bolder;
    text-decoration: underline;
}

   th, td, input {
            font:16px Verdana;
        }
  /*      table, th, td 
        {
            border: solid 1px #DDD;
            color: #000;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        } */
        th {
            font-weight:bold;
        }
</style>
<div class="m-5">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
    
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    
        {% endfor %}
    </ul>
    {% endif %}  
    <div class="container text-center">
    <Label class="text-center"> Prabhag {{ prabhag }} Building Points</Label></div>
        <!-- <input type="button" onclick="CreateTableFromJSON()" value="Create Table From JSON" /> -->
        <p id="showData"></p>
</div>
<form method="POST" hidden class="post-form" action="" id="update_form" style="margin-top: 20px; width:400px">
    {% csrf_token %}
    <!-- <button type="submit" id="update" class="btn btn-success">{% trans "Update" %}</button> -->
</form>
<script>
    let data = {{ data | safe }}
    // function CreateTableFromJSON() {
        let sac;
let valid;
        // EXTRACT VALUE FOR HTML HEADER. 
        // ('Book ID', 'Book Name', 'Category' and 'Price')
        var col = ['SAC Number','Property Address','Building Type','Building Name','Village','Number of flats','Region','Number of Shops','Wing Name','Prabhag Number','Ward Name','Billing Address','Validity'];
        var cols= []
        for (var i = 0; i < data.length; i++) {
            for (var key in data[i]) {
                if (cols.indexOf(key) === -1) {
                    cols.push(key);
                }
            }
        }

        // CREATE DYNAMIC TABLE.
        var table = document.createElement("table");
        table.className = 'zui-table';
table.width =  window.screen.width/1.5;
        // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

        var tr = table.insertRow(-1);                   // TABLE ROW.

        for (var i = 0; i < col.length-1; i++) {
            var th = document.createElement("th");      // TABLE HEADER.
            th.innerHTML = col[i];
            tr.appendChild(th);
        }

        // ADD JSON DATA TO THE TABLE AS ROWS.
        for (var i = 0; i < data.length; i++) {
// console.log(data[i])
            tr = table.insertRow(-1);
            
            for (var j = 0; j < cols.length-1; j++) {
               
                var tabCell = tr.insertCell(-1);
                sac = data[i][cols[0]];
                valid=data[i][cols[12]];
                tabCell.innerHTML = data[i][cols[j]];
            }
            let btn = document.createElement("button");
            btn.innerHTML = "Authenticate";
            btn.id = "formBtn"+i;
            if(valid==false){
            btn.className = "btn-danger"}
            else if(valid==true){
            btn.className = "btn-success"}
            else{
            btn.className = "btn-warning"
            }
            let btn1 = document.createElement("button");
            btn1.innerHTML = "Edit";
            btn1.id = "up"+i;
            btn1.className = 'editbtn'
            
            // const element = document.getElementById("formBtn");

            // element.classList.add('btn-danger');

            btn.onclick = function () {
                let url_val = "/buildupdate/"+sac+"-Auth";
            // console.log(id,url_val)

            $.ajax({
                    url: url_val,
                    dataType: "json",
                    type: "GET",
                    success: function(data) {
                        btn.removeClass('btn-danger');
                        btn.removeClass('btn-warning');
                        
                    btn.className = "btn-success";
                    }
                })

            };
            tr.appendChild(btn);
            tr.appendChild(btn1)
        }

        // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
        var divContainer = document.getElementById("showData");
        divContainer.innerHTML = "";
        divContainer.appendChild(table);
    // }
    $(document).ready(function () {
      $('.editbtn').click(function () {
        var currentTD = $(this).parents('tr').find('td');
          console.log(currentTD,currentTD[0].innerHTML)
          sac =currentTD[0].innerHTML;
          if ($(this).html() == 'Edit') {                  
              $.each(currentTD, function () {
                  $(this).prop('contenteditable', true)
              });
          } else if ($(this).html() == 'Save') {
        let url_val = '/buildupdate/'+sac;

        const f = document.getElementById("update_form");
        f.setAttribute('action', url_val);
        for (var j = 0; j < cols.length-1; j++) {
            const i = document.createElement("input");
            i.setAttribute('type', "text");
            i.setAttribute('name',cols[j]);
            i.setAttribute('id','id_'+cols[j]);
            console.log(currentTD[j].innerHTML)
            i.setAttribute("value",currentTD[j].innerHTML)
            f.appendChild(i);
            
        }
            let by = document.createElement("input");
            by.setAttribute('type', "text");
            by.setAttribute('name','updated_by');
            by.setAttribute('id','id_updated_by');
            by.setAttribute("value",'{{ request.user.username}}');
            f.appendChild(by);
            var today = new Date();
            let time1 = today.toLocaleString();
            let time = document.createElement("input");
            time.setAttribute('type', "text");
            time.setAttribute('name','update_time');
            time.setAttribute('id','id_update_time');
            time.setAttribute("value",time1)
            f.appendChild(time);
            const s = document.createElement("button");
s.setAttribute('type', "submit");
s.setAttribute('value', "Submit");
            s.setAttribute('id','update');
            // time.setAttribute("value",time1)
            f.appendChild(s);
        console.log(f,'f');

        var xhr = new XMLHttpRequest();
        xhr.open("POST", url_val);
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            console.log(xhr.responseText);
        }};
        let link = document.getElementById("update")
        link.click();



        xhr.send(f);

            }
          else {
             $.each(currentTD, function () {
                  $(this).prop('contenteditable', false)
              });
          }

          $(this).html($(this).html() == 'Edit' ? 'Save' : 'Edit')


      });

  });
</script>
{% endblock %}