{% extends 'map/map_base.html' %}
{% load static%}{% load has_group %}
{% block extra_map_css %}
{% load i18n %}

<!-- import psycopg2 -->
<style>

    
.border {
    padding: 6px 8px;
    border-style: groove;
    border-radius: 5px;
    margin:20px;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

/* .table{
  border-collapse: collapse;
  padding: 50px;
  font-weight: bold;

  
  /* background:rgba(191, 149, 233, 0.473); */

/* } */ */
table, th, td 
    {
        border-bottom: 1px solid #ddd;
        border-collapse: collapse;
        padding: 2px 3px;
        text-align: center;
    }
    th {
        font-weight:bold;
    }

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
   
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.legendwet {
    line-height: 18px;
    color: #555;
}
.legendwet i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* css to customize Leaflet default styles  */
.leaflet-popup-content-wrapper {
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
}

.leaflet-popup-content{
    font-weight: bold;
}
/* css for table tbinfo*/
#tbinfo {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-weight: bolder;
}

#tbinfo td, #tbinfo th {
  border: 3px solid #ddd;
  padding: 8px;
}

#tbinfo tr:nth-child(even){background-color: #f2f2f2;}

#tbinfo tr:hover {background-color: rgb(194, 92, 92);}

#tbinfo th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
#checkboxes {
  display: none;
  /* border: 1px #dadada solid; */
}

#datepick {
  display: none;
  /* border: 1px #dadada solid; */
}

#checkboxes label {
  display: block;
  text-decoration-color: blue;
  text-align: left;
  margin: 10px;
}

#checkboxes2 {
  display: none;
  /* border: 1px #dadada solid; */
}

#checkboxes2 label {
  display: block;
  text-decoration-color: blue;
  text-align: left;
  margin: 10px;
}

#checkboxes3 {
  display: none;
  /* border: 1px #dadada solid; */
}

#checkboxes3 label {
  display: block;
  background-color:white;
  text-decoration-color: blue;
  text-align: left;
  margin: 10px;
}
#checkboxes7 {
        display: none;
        /* border: 1px #dadada solid; */
}
    
#checkboxes7 label {
        display: block;
        text-align: left;
        margin: 10px;
}

#checkboxes2 {
        display: none;
        /* border: 1px #dadada solid; */
}
    
#checkboxes2 label {
        display: block;
        text-align: left;
        margin: 10px;
}

#checkboxes5 {
        display: none;
        /* border: 1px #dadada solid; */
    }
    
#checkboxes5 label {
        display: block;
        text-align: left;
        margin: 10px;
}
#checkboxes4 {
        display: none;
        /* border: 1px #dadada solid; */
}
#checkboxeszone {
        display: none;
        /* border: 1px #dadada solid; */
}
#checkboxeszone label{
    display: block;
    text-align: left;
    margin: 10px;
}


#radiobutt {
    display:none;
}
#radiobutt label{
    display: block;
    text-align: left;
    margin: 20px;
}
    
#checkboxes4 label {
        display: block;
        text-align: left;
        margin: 10px;
}


/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 50%;
  margin-right: -5px;
  border-width: 5px;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.form-control {
  width: 160px;
}

.circle {
        /* background-color: red; */
        border-radius: 50%;
    }
</style>

{% endblock extra_map_css%}

{% block map_content%}
  <!-- {% block sidebar %}
  {% endblock %} -->

  
  
    <div id="side-bar" style="background-color:  rgba(255, 255, 255);">                <!-- side-bar container -->
        <div class="mobileShow">

            <div style="text-align: center">
                <button style="display: inline-block ;position: relative; background: #000; opacity: 0.60;" id="closebutton" name="closebutton" class="btn btn-secondary"><span class="fa fa-bars"></span></button>
            </div>
    
        </div>
      <div>
        <div class="text-center border">


            <form id="projectList" style="width: 100%">

                <form>
                    <div class="multiselect">
                        <div class="selectBox" onclick="showCheckboxes3()">
                            <button type="button" class="btn btn-outline-dark" style="width: 90%;font-size:12px; "> {% trans "Geographical Hierarchy" %}</button>
                            <div class="overSelect"></div>
                        </div>
                        <div id="checkboxes3">
                            <div class="checkbox" id="boundary">
                                <label><input type="checkbox" value="{suburban}" onchange="getBoundaryru(this)"><span> {% trans "Mumbai Suburban Boundary" %}</span></label>
                            </div>
                            
                            <div class="checkbox" id="boundary">
                                <label><input type="checkbox" value="{wardKWest}" onchange="getBoundaryru(this)"><span> {% trans "Mumbai Suburban -  Ward K-WEST" %}</span></label>
                            </div>
                            <div class="checkbox">
                              <label><input type="checkbox" value="{61bound}" onchange="getBoundaryru(this)"><span> {% trans "61 Ward" %}</span></label>
                            </div>
                           
                        </div>
                    </div>
                    
                    <br>
                      
                    <div class="multiselect">
                      <div class="selectBox" onclick="showCheckboxes7()">
                          <button type="button" class="btn btn-outline-dark" style="width: 90%;font-size:12px; "> {% trans "Ward 61 Landmarks" %}</button>
                          <div class="overSelect"></div>
                      </div>
                      <div id="checkboxes7">
                        <!--<div class="checkbox">
                             <label><input type="checkbox" value="{zones}" id ="zones" onchange="getBoundaryru(this)"><span> {% trans "Zones" %}</span></label>
                          </div> -->
                          <!-- <div class="checkbox">
                              <label><input type="checkbox" value="{osmbuild}" id ="build_osm" onchange="getBoundaryru(this)"><span> {% trans "Building Polygons" %}</span></label>
                          </div>  -->
                          <div class="checkbox">
                            <label><input type="checkbox" value="{regions}"  id ="regions" onchange="getBoundaryru(this)"><span> {% trans "Regions" %}</span></label>
                          </div>
                          <div class="checkbox">
                            <label><input type="checkbox" value="{buildings}" disabled id ="buildings" onchange="getBoundaryruUpdation(this)"><span> {% trans "Buildings Clusters" %}</span></label>
                        </div> 
                          {% if request.user|has_group:"Editor" %}
                            <div class="checkbox">
                                <label><b><input type="checkbox" value="{buildings}" id ="buildings" onchange="getBoundaryruUpdation(this)"><span> {% trans "Buildings" %}</span></b></label>
                            </div> 
                            {%else %}
                                <div class="checkbox">
                                    <label><input type="checkbox" value="{buildings}" id ="buildings" onchange="getBoundaryru(this)"><span> {% trans "Buildings" %}</span></label>
                                </div> 
                          {% endif %}
                          
                          <div class="checkbox">
                            <label><input type="checkbox" value="{sra}" id ="sra" disabled onchange="getBoundaryru(this)"><span> {% trans "SRA" %}</span></label>
                          </div> 
                          <div class="checkbox">
                            <label><input type="checkbox" value="{chs}" id ="chs" disabled onchange="getBoundaryru(this)"><span> {% trans "CHS" %}</span></label>
                          </div>
                          <div class="checkbox">
                            <label><input type="checkbox" value="{smpa}" id ="smpa" disabled onchange="getBoundaryru(this)"><span> {% trans "SMPA" %}</span></label>
                          </div>  
                         
                          <div class="checkbox">
                            <label><input type="checkbox" value="{roads}" id ="roads" onchange="getBoundaryru(this)"><span> {% trans "Roads" %}</span></label>
                          </div> 
                          <!--Restricted access  -->
                          {% if request.user|has_group:"Editor" %}
                          <div class="checkbox">
                            <label><input type="checkbox" value="{buildings_noname}" id ="buildings_noname" onchange="getBoundaryru(this)"><span> {% trans "UnNamed Buildings" %}</span></label>
                          </div> 
                          <div class="checkbox">
                            <label><input type="checkbox" value="{regions_noname}" id ="regions_noname" onchange="getBoundaryru(this)"><span> {% trans "Unamed Regions in Buildings" %}</span></label>
                          </div>
                          {% endif %}
                          <!-- <div class="checkbox">
                            <label><input type="checkbox" value="{roads}" id ="buildingsosm" onchange="displayPoint()"><span> {% trans "OSM BUILDINGS" %}</span></label>
                          </div>                       -->
                      
                      </div>
                     <br>
                     <br>

                      <!-- <button type="button" class="btn btn-primary" id='locate'>{% trans "Your Location" %}</button> -->
                    </div>
                   
                </div> 
                      
            </form>

        
</form>
{% endblock map_content%}
{% block extra_map_javascript%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
// *****************
let $locate = $('#locate');
let $body = $('body');
let currentPos = null;
let marker = null;
let oldMarker = null;
let oldLayer = null;

// YOUR LOCATION BUTTON
$locate.on('click', function(e) {
    if (oldMarker) {
        mymap.removeLayer(oldMarker);
        oldMarker = null;
    }
    if (oldLayer) {
        mymap.removeLayer(oldLayer);
        oldLayer = null;
        facilityLayer = new L.featureGroup();
    }
    // $status.html('finding your location');
    if (!navigator.geolocation) {
        alert("<p>Sorry, your browser does not support Geolocation</p>");
        return;
    }
    $body.removeClass('loaded');
    navigator.geolocation.getCurrentPosition(success, error);
});

    // IF LOCATION FETCH BY BROWSER SUCCESS
    function success(position) {
    $body.addClass('loaded');
    currentPos = [position.coords.latitude, position.coords.longitude];
    mymap.setView(currentPos, 13);
    marker = L.marker(currentPos)
        .addTo(mymap)
        .bindTooltip("Your Location")
        .openTooltip();
    oldMarker = marker;

};
// IF error IN FETCHING LOCATION
function error() {
    alert("Unable to retrieve your location");
};

const domain = ['https://geoserver2.communitygis.net/', 'http://localhost/'];
    var rootUrl = domain[0] + 'geoserver/geonode/ows';

    var defaultParameters = {
        service: 'WFS',
        version: '1.0.0',
        request: 'GetFeature',
        outputFormat: 'json'
    };

    var wms_legend;
    var info = L.control();
    var attribute_table = L.control({
        position: 'bottomright'
    });
    var LayerList = [];
    var tempParameter = defaultParameters;
    var newLayerList = [];
    var pointLayerList = [];

    var myWorliLayerList = [];
    var popup_layer, content;           
    let  imageloca= [];
    var polylayer =[];
    var polylayer1 =[];
    var polylayer2 =[];
    var areaLayerList=[];
    

// <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
var expanded = false;
putWMSarea("ward61:ward61_boundary_1nov21");
function showCheckboxes2() { //geographical heirarchy
    var checkboxes = document.getElementById("checkboxes2");
    if (!expanded) {
        checkboxes2.style.display = "block";
        expanded = true;
    } else {
        checkboxes2.style.display = "none";
        expanded = false;
    }
}

function showCheckboxes3() { //geographical heirarchy
    var checkboxes = document.getElementById("checkboxes3");
    if (!expanded) {
        checkboxes3.style.display = "block";
        expanded = true;
    } else {
        checkboxes3.style.display = "none";
        expanded = false;
    }
}

function showCheckboxes7() { //zonal geometry
    var checkboxes = document.getElementById("checkboxes7");
    
    if (!expanded) {
        checkboxes7.style.display = "block";
        expanded = true;
    } else {

        checkboxes7.style.display = "none";
        expanded = false;
    }
}
function getBoundaryruUpdation(obj) {
    let boundary = obj.value;
    if ($(obj).is(":checked")) {
        if (boundary == "{buildings}")    
            // putWMSru("ward61:osm_buildings_29oct21"); 
            displaypolygonUpdation();
    }
    else
        removepolylayer(polylayer);
}
function displaypolygonUpdation(){
    let osm_buildings = JSON.parse('{{ geojson|safe }}')
    // console.log(osm_buildings)
    // alert(osm_buildings);
    // mymap.removeLayer(polylayer);
    mymap.setView([19.1467,72.8283],16);
    // mymap.clearLayers();
    polylayer = L.geoJSON(osm_buildings, 
    {style:function(feature){
        switch(feature.properties.building){
            case 'residence':return {color:"#c83daa"};
            case 'residential':return {color:"#c83daa"};
            case 'apartments':return {color:"#c83daa"};
            // case 'yes':return {color:"#c83daa"};
            case 'commercial':return {color:"#55e232"};
            case 'Commercial':return {color:"#55e232"};
            case 'office':return {color:"#7d3fe9"};
            case 'yes':return {color:"#c83daa"};
            case 'school':return {color:"#efe115"};
            }
        },    
        
        onEachFeature: onEachFeatureForUpdation,
    // }).addTo(mymap);
    });
    polylayer.addTo(mymap);
    
    layer ="ward61:osm_buildings_29oct21";
    addWMSLegend(layer);
}

function getBoundaryru(obj) {
    let boundary = obj.value;
    // console.log(boundary)
    // alert("Logged Out")
    if ($(obj).is(":checked")) {

        if (boundary == "{suburban}")
            putLayer("Mumbai Suburban");
        else if (boundary == "{wardKWest}")    
            putWMSru("ward61:k_west_mumbai");
        else if (boundary == "{61bound}")    
            putWMSru("ward61:ward61_boundary_1nov21");
        else if (boundary == "{regions}")    
            putWMSru("ward61:regions_6dec21"); 
        
        else if (boundary == "{buildings}")    
            // putWMSru("ward61:osm_buildings_29oct21"); 
            displaypolygon();
        else if (boundary == "{buildings_only}")    
            putWMSru("ward61:osm_buildings_29oct21"); 
            // displaypolygon();
        else if (boundary == "{roads}")    
            putWMSru("ward61:ward61osmroad25OCT"); 
        else if (boundary == "{buildings_noname}")    
            displaypolygon_buildings_noname();
        else if (boundary == "{regions_noname}")    
            displaypolygon_regions_noname();

        

    } else {
//       alert('in removeWM'+obj.value);
        if (boundary == "{wardKWest}")
            removeWMS("ward61:k_west_mumbai");
        else if (boundary == "{suburban}")
            removeWMS("Mumbai Suburban");
        else if (boundary == "{regions}")                        
            removeWMS("ward61:regions_6dec21");
        else if (boundary == "{61bound}")                        
            removeWMS("ward61:ward61_boundary_1nov21");
        else if (boundary == "{buildings}") {
            console.log("remove building cluster");
            removepolylayer(polylayer); 
        }
        else if (boundary == "{roads}")    
            removeWMS("ward61:ward61osmroad25OCT"); 
        else if (boundary == "{buildings_noname}")    
            removepolylayer(polylayer1); 
        else if (boundary == "{regions_noname}")    
            removepolylayer(polylayer2); 
    };


}
function putWMSarea(layer) {
    var wms_layer = L.tileLayer.wms('https://geoserver2.communitygis.net/geoserver/wms', {
                    layers: layer,
                    format: 'image/png',
                    transparent: 'true',
                    // cql_filter: "district='Raigad'",
                });
    mymap.setView([19.1423,72.8137],13);
    myselectedarea="Ward61";
    console.log(myselectedarea);
    // alert(wms_layer);
    console.log(wms_layer)
    wms_layer.addTo(mymap);
    areaLayerList.push(wms_layer);

}
function removepolylayer(layer){
    console.log("polylayer is to be removed");
    mymap.removeLayer(layer);
    mymap.removeControl(wms_legend);
    // mymap.clearLayers();
    // console.log("polylayer is :"+polylayer);
}
function putWMSru(layer) {
    // console.log(layer)
    if (layer == "ward61:k_west_mumbai") {
    layer = 'ward61:k_west_mumbai';
    currentPos = [19.1233,72.7784]; 
    var maximumzoom = 19;
    var opac = 0.6;
    var zoom = 13;

    } 
    else if (layer == "ward61:regions_6dec21") {
    currentPos = [19.1467,72.8283];
    var maximumzoom = 20;
    var opac = 0.5;
    var zoom = 16;
    }
    else if (layer == "ward61:ward61_boundary_1nov21") {
    currentPos = [19.1423,72.8137];
    var maximumzoom = 20;
    var opac = 0.5;
    var zoom = 13;
    }
    else if (layer == "ward61:osm_buildings_29oct21") {
    currentPos = [19.1467,72.8283];
    layer = "";
    var maximumzoom = 20;
    var opac = 0.1;
    var zoom = 16;
    
    }
    else if (layer == "ward61:ward61osmroad25OCT") {
    currentPos = [19.1467,72.8283];
    var maximumzoom = 20;
    var opac = 0.5;
    var zoom = 16;
    }
        // console.log(layer)
    var wms_layer = L.tileLayer.wms('https://geoserver2.communitygis.net/geoserver/wms', {
        layers: layer,
        format: 'image/png',
        // opacity:0.5,
        transparent:true,
        maxZoom:maximumzoom,

    });
        wms_layer.addTo(mymap);
        mymap.setView(currentPos, zoom);
        newLayerList.push(wms_layer);
        popup_layer="https://geoserver2.communitygis.net/geoserver/ward61/wms?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetFeatureInfo&LAYERS=" + wms_layer.options.layers + "&QUERY_LAYERS=" + wms_layer.options.layers;  
        console.log("popupzone",popup_layer);
        console.log(wms_layer);
        if (wms_legend) {
             mymap.removeControl(wms_legend);
        }
        //  mymap.removeControl(legend);
        // addLegend(position ="bottomright", pal = pal, 
                    // values = ~Type,
                    // title = "Zone Types",
                    // opacity = 1)
        addWMSLegend(layer);
}
function removeWMS(unchecked_layer) {
    newLayerList.forEach((layer, index) => {
    if (layer.options.layers === unchecked_layer) {
        // alert(layer,unchecked_layer);
        //  alert("legend is"+wms_legend.value);
        mymap.removeLayer(layer);
        // mymap.removeControl(wms_legend);
        newLayerList.splice(index, 1);
        if (wms_legend) {
            mymap.removeControl(wms_legend);
        }
        addWMSLegend(layer);
        
    }
    });
}
function addWMSLegend(layer) {
    lagendGraphic = "https://geoserver2.communitygis.net/geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=" + layer + "&LEGEND_OPTIONS=forceLabels:on";
    wms_legend = L.wmsLegend(lagendGraphic);
}
function putLayer(opt){
    console.log("opt is "+opt);
    var wms_layer = L.tileLayer.wms('https://geoserver2.communitygis.net/geoserver/wms', {
        // layers: 'geonode:island_city_revised_2_july',
        layers: 'geonode:maha_taluka_13march2021',
        format: 'image/png',
        transparent: 'true',
        cql_filter: `distname='${opt}'`,
        
    });
    wms_layer.addTo(mymap);
    // wardLayerList.push(wms_layer);
    console.log(wms_layer);
    // if(opt == 'Mumbai')
    //   mymap.setView([19.0110, 72.8512], 12);
      
    // else
      mymap.setView([19.1186, 72.8064], 11);

}

// mymap.addEventListener('click', Identify);
// function for displaying spots

    
function Identify(e) {
    
    console.log("Identify",e);
    // set parameters needed for GetFeatureInfo WMS request
    var sw = mymap.options.crs.project(mymap.getBounds().getSouthWest());
    var ne = mymap.options.crs.project(mymap.getBounds().getNorthEast());
    var BBOX = sw.x + "," + sw.y + "," + ne.x + "," + ne.y;
    var WIDTH = mymap.getSize().x;
    var HEIGHT = mymap.getSize().y;

    var X = Math.trunc(mymap.layerPointToContainerPoint(e.layerPoint).x);
    var Y = Math.trunc(mymap.layerPointToContainerPoint(e.layerPoint).y);

    // compose the URL for the request
    

    var URL = popup_layer + '&BBOX=' + BBOX + '&FEATURE_COUNT=1&HEIGHT=' + HEIGHT + '&WIDTH=' + WIDTH + '&INFO_FORMAT=application%2Fjson&TILED=false&CRS=EPSG%3A3857&I=' + X + '&J=' + Y;
    // console.log(URL);
    //send GetFeatureInfo as asynchronous HTTP request using jQuery $.ajax
    $.ajax({
        url: URL,
        dataType: "json",
        type: "GET",
        success: function(data) {
            if (data.features.length !== 0) { // at least one feature returned in response
                var feature = data.features[0]; // first feature from response
                console.log(feature);
                // Set up popup for clicked feature and open it
                var popup = new L.Popup({
                    maxWidth: 300
                });
                if (feature.properties.region) {
                    // alert("in region");
                    content = "<table class = 'popupclass' ><tr><td><b>Region Info</b></td><td></td></tr>" +
                        "<tr><td><b>Region Name: </b></td><td>" + feature.properties.region + "</td></tr>"+"</table>";
                    popup.setContent(content);
                    popup.setLatLng(e.latlng);
                    mymap.openPopup(popup);
                    }
                if (feature.properties.building) {
                    
                    // console.log("I reached at");
                    content = "<table class = 'popupclass' ><tr><td><b>Buildings Info</b></td><td></td></tr>" +
                        "<tr><td><b>Building Name: </b></td><td>" + feature.properties.name + "</td></tr>"+
                        "<tr><td><b>Description: </b></td><td>"+feature.properties.building + "</td></tr>"+
                        "<tr><td><b>Region: </b></td><td>" + feature.properties.region + "</td></tr>"+
                        "<tr><td><b>Number of Flats/shops: </b></td><td>" + feature.properties.flats + "</td></tr>"+
                        "<tr><td><b>Number of Wings></td><td>" + feature.properties.wings + "</td></tr>"+
                        "<tr><td><b>Address: </b></td><td>" + feature.properties.address + "</td></tr>"+
                        "<tr><td><b>MODIFY: </b></td><td><a href = '/buildedit/"+feature.properties.osm_id+"' style ='color:#FF0000;'>" + feature.properties.osm_id + "</a></td></tr>"+
                        "<tr><td rowspan=2><a href = '/buildedit/"+feature.properties.osm_id+"' style ='color:#FF0000;'>" + feature.properties.osm_id + "</a></td></tr>"+
                        "</table>";
                popup.setContent(content);
                popup.setLatLng(e.latlng);
                mymap.openPopup(popup);
                }
            }
        }
    });
}

    
function displaypolygon_buildings_noname(){
    let osm_buildings = JSON.parse('{{ geojson|safe }}')
    // console.log(osm_buildings)
    // alert(osm_buildings);
    // mymap.removeLayer(polylayer);
    mymap.setView([19.1467,72.8283],16);
    // mymap.clearLayers();
    polylayer1 = L.geoJSON(osm_buildings, 
    {style:function(feature){
        switch(feature.properties.building){
            case 'residence':return {color:"#FF0000"};
            case 'residential':return {color:"#FF0000"};
            case 'apartments':return {color:"#FF0000"};
            // case 'yes':return {color:"#c83daa"};
            case 'commercial':return {color:"#FF0000"};
            case 'Commercial':return {color:"#FF0000"};
            case 'office':return {color:"#FF0000"};
            case 'yes':return {color:"#FF0000"};
            case 'school':return {color:"#FF0000"};
            }
        },    
        
        onEachFeature: onEachFeatureForUpdation,
        filter: NonameBuildingFilter,
    // }).addTo(mymap);
    });
    console.log("polylayer1 is "+polylayer1);
    polylayer1.addTo(mymap);
    
}
function displaypolygon_regions_noname(){
    let osm_buildings = JSON.parse('{{ geojson|safe }}')
    // console.log(osm_buildings)
    // alert(osm_buildings);
    // mymap.removeLayer(polylayer);
    mymap.setView([19.1467,72.8283],16);
    // mymap.clearLayers();
    polylayer2 = L.geoJSON(osm_buildings, 
    {style:function(feature){
        switch(feature.properties.building){
            case 'residence':return {color:"#FF0000"};
            case 'residential':return {color:"#FF0000"};
            case 'apartments':return {color:"#FF0000"};
            // case 'yes':return {color:"#c83daa"};
            case 'commercial':return {color:"#FF0000"};
            case 'Commercial':return {color:"#FF0000"};
            case 'office':return {color:"#FF0000"};
            case 'yes':return {color:"#FF0000"};
            case 'school':return {color:"#FF0000"};
            }
        },    
        
        onEachFeature: onEachFeatureForUpdation,
        filter: NonameRegionFilter,
    // }).addTo(mymap);
    });
    console.log("polylayer2 is "+polylayer2);
    polylayer2.addTo(mymap);
    
}
function displaypolygon(){
    // alert("Without updation")
    let osm_buildings = JSON.parse('{{ geojson|safe }}')
    // console.log(osm_buildings)
    // alert(osm_buildings);
    // mymap.removeLayer(polylayer);
    mymap.setView([19.1467,72.8283],16);
    // mymap.clearLayers();
    polylayer = L.geoJSON(osm_buildings, 
    {style:function(feature){
        console.log("Name is "+feature.properties.name)
        switch(feature.properties.name){
            case null:return{color:'#ff0000'};
            case 'None':return{color:'#ff0000'};
            // case 'Heera Panna':return{color:'#ff0000'};
          }
        switch(feature.properties.building){
            case 'residence':return {color:"#c83daa"};
            case 'residential':return {color:"#c83daa"};
            case 'apartments':return {color:"#c83daa"};
            // case 'yes':return {color:"#c83daa"};
            case 'commercial':return {color:"#55e232"};
            case 'Commercial':return {color:"#55e232"};
            case 'office':return {color:"#7d3fe9"};
            case 'yes':return {color:"#1d80e3"};
            case 'school':return {color:"#efe115"};
            }
       
        },    
        
        onEachFeature: onEachFeatureForPointBB,
    // }).addTo(mymap);
    });
    polylayer.addTo(mymap);
    
    layer ="ward61:osm_buildings_29oct21";
    addWMSLegend(layer);
}
function onEachFeatureForUpdation(feature, layer) {
    // alert(layer.properties.name+"="+feature);
    // layer.on({click:onClick })
    // if(${feature.properties.name} !== null){
    layer.bindPopup(`<div class = 'text-left'><table border =2><tr class="bg-primary"><td colspan=2>Building Information</td></tr>
    <tr class="table-danger"><td>Building Name:</td><td> ${feature.properties.name}</td></tr>
    <tr><td>Description :</td><td>${feature.properties.building}</td></tr>
    <tr class="table-danger"><td>Region:</td><td>${feature.properties.region}</td></tr>
    <tr><td>Number of Flats :</td><td>${feature.properties.num_flat}</td></tr>
    <tr class="table-danger"><td>Number of shops :</td><td>${feature.properties.num_shops}</td></tr>
    <tr><td>Number of Wings :</td><td>${feature.properties.wing}</td></tr>
    <tr class="table-danger"><td>Address : </td><td>${feature.properties.addrstreet}</td></tr>
    <tr colspan =2></tr>
    <tr ><td colspan =2><b><center><a href = '/buildedit/${feature.properties.osm_id}' class="btn btn-info">Update Building Details</a></center></td></tr>
    <tr ><td colspan =2 ><a href='/garbage_seg/' class="btn btn-success">Add Waste Segregation Details</a></td></tr></table>
</div>`)
    // }
    

}

function onEachFeatureForPointBB(feature, layer) {
    // alert(layer.properties.name+"="+feature);
    // layer.on({click:onClick })
    // if(${feature.properties.name} !== null){
    layer.bindPopup(`<div class = 'text-left'><table border =2><tr class="bg-primary"><td colspan=2>Building Information</td></tr>
    <tr class="table-danger"><td>Building Name:</td><td> ${feature.properties.name}</td></tr>
    <tr><td>Description :</td><td>${feature.properties.building}</td></tr>
    <tr class="table-danger"><td>Region:</td><td>${feature.properties.region}</td></tr>
    <tr><td>Number of Flats :</td><td>${feature.properties.num_flat}</td></tr>
    <tr class="table-danger"><td>Number of shops :</td><td>${feature.properties.num_shops}</td></tr>
    <tr><td>Number of Wings :</td><td>${feature.properties.wing}</td></tr>
    <tr class="table-danger"><td>Address : </td><td>${feature.properties.addrstreet}</td></tr>
    
    
</div>`)
    // }
    

}
function NonameBuildingFilter(feature) {
    // alert(layer.properties.name+"="+feature);
    // layer.on({click:onClick })
    console.log("Name is ");
    if(feature.properties.name !== null) 
        return false    
    else
        return true
}
function NonameRegionFilter(feature){
    console.log("Region is ")
    if(feature.properties.region !== null)
        return false
    else    
        return true
}
function onClick(e) {console.log("Onclick")

        alert(e);
        mymap.clearLayers();
        // mymap.removeLayer(layer);
    }
mymap.addEventListener('click', Identify);
</script>
{% endblock extra_map_javascript %}
